@model IEnumerable<ProvaTecnica3.Models.Emprestimo>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create" class="btn btn-secondary">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Clientes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ValorEmprestimo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Juros)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QtdParcelas)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ValorParcela)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QtdParcelaspagas)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JurosPago)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsPago)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
            item.JurosPago = item.JurosPago - (item.ValorParcela * item.QtdParcelaspagas);
            item.ValorParcela = (item.ValorParcela * (1+(item.Juros / 100)));

        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Clientes.CPF)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ValorEmprestimo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Juros)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QtdParcelas)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ValorParcela)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QtdParcelaspagas)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JurosPago)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsPago)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.EmprestimoId" class="btn btn-success">Details</a> 
                <a asp-action="Details" asp-route-id="@item.EmprestimoId" class="btn btn-warning">Details</a> 
                <a asp-action="Delete" asp-route-id="@item.EmprestimoId" class="btn btn-danger">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
