@model IEnumerable<ProvaTecnica3.Models.Emprestimo>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create" class="btn btn-secondary"><i class="fa fa-plus-circle "></i>Create New</a>
</p>
<table id="TabelaEmprestimo" class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Clientes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ValorEmprestimo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Juros)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QtdParcelas)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ValorParcela)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QtdParcelaspagas)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JurosPago)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsPago)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
            item.JurosPago = item.JurosPago - (item.ValorParcela * item.QtdParcelaspagas);
            item.ValorParcela = (item.ValorParcela * (1+(item.Juros / 100)));

        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Clientes.CPF)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ValorEmprestimo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Juros)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QtdParcelas)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ValorParcela)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QtdParcelaspagas)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JurosPago)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsPago)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.EmprestimoId" class="btn btn-success"><i class="fa fa-edit "></i></a> 
                <a asp-action="Details" asp-route-id="@item.EmprestimoId" class="btn btn-warning"><i class="fa fa-search "></i></a> 
                <a asp-action="Delete" asp-route-id="@item.EmprestimoId" class="btn btn-danger"><i class="fa fa-trash "></i></a>
            </td>
        </tr>
}
    </tbody>
</table>

@section Scripts{
    <script>
        $(document).ready(function() {

            $('#TabelaEmprestimo').DataTable({
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Portuguese-Brasil.json"
                }
            });
        });
    </script>
}