@model ProvaTecnica3.Models.Pagamento

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Pagamento</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Emprestimos)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Emprestimos.EmprestimoId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Clientes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Clientes.CPF)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DtPagamento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DtPagamento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ValorParcela)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ValorParcela)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsPago)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsPago)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.PagamentoId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
