@model IEnumerable<ProvaTecnica3.Models.Pagamento>

@{
    ViewData["Title"] = "Index";
}

<h1>Pagamento</h1>

<p>
    <a asp-action="Create" class="btn btn-secondary">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Emprestimos)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Clientes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DtPagamento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ValorParcela)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsPago)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Emprestimos.EmprestimoId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Clientes.CPF)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DtPagamento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ValorParcela)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsPago)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PagamentoId" class="btn btn-success">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.PagamentoId" class="btn btn-warning">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.PagamentoId" class="btn btn-danger">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
